comput_distrib/src/main/resources/xsd/music.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/musics/soap"
           xmlns:tns="http://example.com/musics/soap"
           elementFormDefault="qualified">

    <!-- LISTAR TODAS AS MÚSICAS -->
    <xs:element name="GetAllMusicsRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="GetAllMusicsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="musics" type="tns:Music" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- LISTAR PLAYLISTS POR MÚSICA -->
    <xs:element name="GetPlaylistsByMusicRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="musicId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPlaylistsByMusicResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="playlists" type="tns:Playlist" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- DTOs SOAP -->
    <xs:complexType name="Music">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="artist" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Playlist">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="userAccountName" type="xs:string"/>
            <xs:element name="musics" type="tns:Music" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
